# ======================
# Keil / MDK-ARM
# ======================
MDK-ARM/DebugConfig/
MDK-ARM/RTE/
MDK-ARM/*.uvguix.*
*.dbgconf
*.scvd

# Build output
Objects/
Listings/
*.o
*.obj
*.lst
*.map
*.axf
*.elf
*.hex
*.bin
*.d
*.crf
*.lnp

# Keil user-specific files
*.uvoptx
*.uvguix.*

# ======================
# OS / editor junk
# ======================
.DS_Store
Thumbs.db
*.swp
*.tmp